export AZ_IOT_HUB_NAME=FIXME
export AZ_IOT_HUB_HOST='FIXME.az-devices.net'

export AZ_IOT_EDGE_DEVICE_ID=FIXME
export AZ_IOT_EDGE_DEVICE_THUMBPRINT_1=FIXME
export AZ_IOT_EDGE_DEVICE_THUMBPRINT_2=FIXME
export AZ_IOT_EDGE_DEVICE_CONNECTION="HostName=FIXME.azure-devices.net;DeviceId=FIXME;x509=true"
